* {
    box-sizing: border-box;
  }

h1,h2{
  font-family: Righteous, sans-serif;
  font-weight: 400;
  text-align: left;
}

  body{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #000000;
    background-color: #e5e5e5;
    
  }


  /* Formatação do cabeçalho*/

 header{
    width: 100%;
    padding: 8px 20px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px 0px #00000040;
   
 }

h1 {
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

  header p {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
  }

  h2{
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
    margin-top: 27px;
  }


  /* formatação da main */

  main{
    padding-top: 92px;
    padding-left: 19px;
    margin-bottom: 117px;
  }

  section{
    margin-top: 17px;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
  }

  .item{
    background-color: #FFFFFF;
    width: 172px;
    height: 216px;
    border-radius: 9px;
    margin-right: 16px; 
    padding: 13px 9px 9px 9px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px -4px #00000040;
    border: 5px solid #FFFFFF;
    position: relative;
   }

  .item .item-bebida{
    height: 202px;
  }

  .item .item-sobremesa{
    height: 197px;
  }

  .item > p{
    margin-top: 5px;
  }

  img{
    height: 87px;
    width: 144px; 
    border-radius: 4px;
  }

  h3{
    font-weight: 700;
    color: #333333;
    margin-top: 8px;
  }

  .descricaoPrato{
    margin-top: 4px;
  }

  .descricaoPrato p{
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    color: #A6A6A6;    
  }

  .icone{
    position: absolute;
    width: 15px;
    height: 15px;
    right: 16px;
    bottom: 16px;
    display: none;
  }

  .selected{ 
    border-color: #32B72F;
  }

  .selected .icone{
    display: block;
  }


/* Formatação do Rodapé */

footer{
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 20px;
  background-color: #FFFFFF;
 
}

button{
  font-family: Roboto, sans-serif;
  height: 61px;
  width: 100%;
  border-radius: 50px;
  background-color: #cbcbcb;
  border: solid 1px #cbcbcb;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.018em;
  text-align: center;
  color: #FFFFFF;
  display: block;
}
 

button.enabled {
  background-color: #32B72F;  
  border: solid 1px #32B72F;  
}

.modal{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.open{
  display: flex;
}

.modal-content{
  background-color:#50D074;
  margin: 18px;
  padding: 20px;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 1.18;
  border-radius: 9px;
  box-shadow: 0px 0px 10px 1px #00000040;

}

.modal-content h4, .modal-content button{
  text-align: center;
  font-weight: 700;
  border: 0;
}

.botao-pedido{
background-color: #FFFFFF;
color: #32B72F;
padding: 13px 50px;
}

.botao-cancelar{
background: none;
padding: 0;
width: auto;
margin: 0 auto;
display: table;

}

.pedido{
  width: 100%;
}

.pedido td{
  padding: 12px 0;
}

.pedido td:last-child{
  text-align: right;  
}

.pedido tr:last-child{
  font-weight: 700;
  text-transform: uppercase;
}